<% provide( :title, t('users') ) %>

<%= render :partial => "layouts/flash_messages" %>

<div class="table">
  <div class="thead">
    <div class="tr">
        <div class="th small"><%= sort_link @search, :name, t( :name )  %></div>
        <div class="th small"><%= sort_link @search, :role, t( :role )  %></div>
        <div class="th small"><%=t :email %></div>
    </div>
  </div>
  
  <div class="tbody">
      <% @users.each do |user| %>
          <a class="tr" href="<%= user_path( :id => user.id ) %>">
              <div class="td"><%= user.name %></div>
              <div class="td"><%= user.role %></div>
              <div class="td"><%= user.email %></div>
          </a>
      <% end %>
  </div>

  <div class="tfoot">
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
  </div>

  <div>
    <div class="will_paginate"><%= page_entries_info @users %></div>
    <div class="will_paginate"><%= will_paginate @users %></div>
  </div>  
</div>
