<%= form_for(@ticket) do |f| %>

  <div class="field_title">Topic</div>
  <div class="field">
    <%= f.select :topic, topic_options %>
  </div>
  
  <div class="field_title">Ticket text</div>
  <div class="field">
    <%= f.text_area :body, rows: 6 %>
  </div>

  <div class="field_title">Assigned programmer:</div>
  <div class="field">
    <%= f.select :user_id, user_options, { include_blank: true } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
