<div class="ticket actions">
  <% if @ticket.status == 'open' %>
    <span><%= link_to "Edit ticket", edit_ticket_path %>
    | <span><%= link_to "Close ticket", close_ticket_path, method: :put %></span>
    | <span><%= link_to "Remove ticket", remove_ticket_path, method: :put %></span>
  <% elsif @ticket.status == 'closed' %>
    <span><%= link_to "Edit ticket", edit_ticket_path %></span>
    | <span><%= link_to "Reopen ticket", reopen_ticket_path, method: :put %></span>
    | <span><%= link_to "Remove ticket", remove_ticket_path, method: :put %></span>
  <% elsif @ticket.status == 'removed' %>
    <span><%= link_to "Edit ticket", edit_ticket_path %></span>
    | <span><%= link_to "Reopen ticket", reopen_ticket_path, method: :put %></span>
  <% end %>
</div>