<% provide( :title, "Tickets" ) %>

<%= render :partial => "layouts/flash_messages" %>

<div class="table">
  <div class="thead">
    <div class="tr">
        <div class="th small">Status</div>
        <div class="th small">Date</div>
        <div class="th small">Topic</div>
        <div class="th large">Body</div>
        <div class="th small">Assignment Status</div>
        <div class="th medium">Assigned Programmer</div>
    </div>
  </div>
  
  <div class="tbody">
      <% @tickets.each do |ticket| %>
          <a class="tr" href="<%= ticket_path( :id => ticket.id ) %>">
              <div class="td"><%= ticket.status %></div>
              <div class="td"><%= ticket.created_at.to_date %></div>
              <div class="td"><%= ticket.topic %></div>
              <div class="td"><%= sanitize( ticket.body ) %></div>
              <div class="td"><%= ticket.assignment_status %></div>
              <div class="td"><%= render :partial => "tickets/ticket_users", :locals => { :ticket => ticket } %></div>
          </a>
      <% end %>
  </div>

  <div class="tfoot">
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
  </div>
</div>

<div style="text-align: center;">
  <%= will_paginate @tickets %>
</div>