<h1>Listing tickets</h1>

<table>
  <% @tickets.each do |ticket| %>
    <tr class="<%= cycle( 'list_line_odd', 'list_line_even' ) %>">

      <%if ticket.removed %>
        <td class="list_ticket_removed">
      <% else %>
        <td class="list_ticket">
      <% end %>
        <dl>
          <dt><%= ticket.topic %></dt>
        </dl>
      </td>

      <%if ticket.removed %>
        <td class="list_ticket_removed">
      <% else %>
        <td class="list_ticket">
      <% end %>
        <dl>
          <dd><%= truncate( strip_tags( ticket.body ), length: 80 ) %></dd>
          <dd><%= ticket.removed %></dd>
        </dl>
      </td>

      <td class="list_actions">
              <%= link_to 'Show', ticket %>
        <br/> <%= link_to 'Edit', edit_ticket_path( ticket ) %>
        <br/> <%if !ticket.removed? %>
                <%= button_to 'Remove', ticket, method: :remove, data: { confirm: 'Are you sure?' } %>
              <% else %>
                <%= button_to 'Restore', ticket, method: :restore, data: { confirm: 'Are you sure?' } %>
              <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
