<% provide( :title, "Tickets" ) %>

<%= render :partial => "layouts/flash_messages" %>

<%= render :partial => "tickets/search" %>

<div class="table">
  <div class="thead">
    <div class="tr">
        <div class="th small">Number</div>
        <div class="th medium">Date</div>
        <div class="th small">Status</div>
        <div class="th small">Assignment</div>
        <div class="th medium">Assigned Programmer</div>
        <div class="th small">Topic</div>
        <div class="th large">Body</div>
    </div>
  </div>
  
  <div class="tbody">
      <% if !@tickets.nil? %>
        <% @tickets.each do |ticket| %>
            <a class="tr" href="<%= ticket_path( :id => ticket.id ) %>">
                <!-- <%# if ticket.status == 'removed' %><div class="td removed"><%# else %><div class="td"><%# end %>  -->
                <div class="td"><%= ticket.id %></div>
                <div class="td"><%= ticket.created_at.to_date %></div>
                <div class="td"><%= ticket.status %></div>
                <div class="td"><%= ticket.assignment_status %></div>
                <div class="td"><%= render :partial => "tickets/ticket_users", :locals => { :ticket => ticket } %></div>
                <div class="td"><%= ticket.topic %></div>
                <div class="td"><%= sanitize( ticket.body ) %></div>
            </a>
        <% end %>
      <% else %>
        <div class="tr">
          <div class="td">No tickets found with these criteria!</div>          
        </div>
      <% end %>
  </div>

  <div class="tfoot">
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
      <div class="th"></div>
  </div>
</div>

<div>
  <%#= will_paginate @tickets %>
</div>