<% provide( :title, "Tickets" ) %>

<%= render :partial => "layouts/flash_messages" %>

<table>
  <thead>
      <tr>
        <th class="header"> topic </th>
        <th class="header"> body </th>
        <th class="header"> options </th>
      </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr class="<%= cycle( 'list_line_odd', 'list_line_even' ) %>">

        <%if ticket.removed %>
          <td class="list_ticket removed">
        <% else %>
          <td class="list_ticket">
        <% end %>
          <dl>
            <dt><%= ticket.topic %></dt>
          </dl>
        </td>

        <%if ticket.removed %>
          <td class="list_ticket removed">
        <% else %>
          <td class="list_ticket">
        <% end %>
          <dl>
            <dd><%= truncate( strip_tags( ticket.body ), length: 80 ) %></dd>
          </dl>
        </td>

        <%if ticket.removed %>
        <td class="list_actions">
          <%= render :partial => "tickets/ticket_actions", :locals => { :ticket => ticket } %>
        </td>
        <% else %>
        <td class="list_actions">
                <%= link_to 'Show', ticket %>
          <br/> <%= link_to 'Edit', edit_ticket_path( ticket ) %>
          <br/> <%= render :partial => "tickets/ticket_actions", :locals => { :ticket => ticket } %>
        </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
