<% provide( :title, "tickets" ) %>

<%= render "layouts/flash_messages" %>

<table>
  <thead>
      <tr>
        <th class="header"> topic </th>
        <th class="header"> body </th>
        <th class="header"> options </th>
      </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr class="<%= cycle( 'list_line_odd', 'list_line_even' ) %>">

        <td class="list_ticket">
          <dl>
            <dt><%= ticket.topic %></dt>
          </dl>
        </td>

        <td class="list_ticket">
          <dl>
            <dd><%= truncate( strip_tags( ticket.body ), length: 80 ) %></dd>
          </dl>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
