<p id="notice"><%= notice %></p>

<p>
  <b>Topic:</b>
  <%= @ticket.topic %>
</p>

<p>
  <b>Body:</b>
  <%= @ticket.body %>
</p>

<p>
  <b>State:</b>
  <%= @ticket.state %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
