<% provide( :title, "Ticket" ) %>

<%= render :partial => "layouts/flash_messages" %>

<div>
  <b>Topic:</b>
  <%= @ticket.topic %>
</p>

<p>
  <b>Body:</b>
  <%= @ticket.body %>
</p>

<p>
  <b>State:</b>
  <%= @ticket.state %>
</p>

<p>
  <b>Ticket removed?</b>
  <%= @ticket.removed %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', overview_path %>
</div>