<!DOCTYPE html>
<html>

<header>
  <title><%=t :ticketer %> | <%= yield( :title ) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</header>

<body>

	<div id="banner">
		<div>
			<span class="title"><%=t :ticketer %>  | <%=t controller_name.to_sym %></span>
			<span class="login">
				<% if logged_in? %>
					<%=t :logged_in_as, user_name: current_user.name %>; <%= link_to t( :log_out ), logout_path, method: "delete" %>
				<% else %>
					<%= link_to t( :log_in ), login_path %>
				<% end %>
			</span>
			<span class="languages"><%= render :partial => "layouts/languages" %></span>
		</div><br/>
		<div><%= render :partial => "layouts/nav" %></div>
		<div><%= render :partial => "layouts/nav_env_#{ controller_name }" %></div>
	</div>

	<div id="main">
		<%= yield %>
	</div>
	
	<div id="footer">
		<%=t :page_loaded_on %> <%= Time.now.to_date %>, <%= Time.now.strftime( "%H:%M" ) %>
		<br/> (c) Joren Zandstra <%= Time.now.year %>
	</div>

</body> 

</html>