<!DOCTYPE html>
<html>

<head>
  <title>Ticketer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

	<div id="banner">
		<%#= image_tag( "logo.png" ) %> <%= @page_title || "Ticketer" %>
		
		<div class="nav"><a href="http://localhost:3000/">Overview</a>
			<a href="http://localhost:3000/tickets/new">New ticket</a></div>
	</div>

	<div id="main">
		<%= yield %>
	</div>
	
	<div id="footer">
		Page loaded on <%= Time.now.to_date %>, <%= Time.now.strftime( "%H:%M" ) %>
		<br/> (c) Joren Zandstra <%= Time.now.year %>
	</div>

</body>

</html>