<!DOCTYPE html>
<html>

<header>
  <title><%= "Ticketer | " + yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</header>

<body>

	<div id="banner">
		<div>
			<span class="title">Ticketer | <%= controller_name.capitalize %></span>
			<span class="login">
				<% if logged_in? %>
					Logged in as <%= current_user.name %>; <%= link_to "Log out", logout_path, method: "delete" %>
				<% else %>
					<%= link_to "Log in", login_path %>
				<% end %>
			</span>
		</div><br/>
		<div><%= render :partial => "layouts/nav" %></div>
		<div><%= render :partial => "layouts/nav_env_#{ controller_name }" %></div>
	</div>

	<div id="main">
		<%= yield %>
	</div>
	
	<div id="footer">
		Page loaded on <%= Time.now.to_date %>, <%= Time.now.strftime( "%H:%M" ) %>
		<br/> (c) Joren Zandstra <%= Time.now.year %>
	</div>

</body> 

</html>