<!DOCTYPE html>
<html>

<header>
  <title><%= "Ticketer | " + yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</header>

<body>

	<div id="banner">
		<p class="title apptitle">Ticketer</p>
		<p class="nav">
				<% if logged_in? %>
					Logged in as <%= current_user.name %>; <%= link_to "Log out", logout_path, method: "delete" %>
				<% else %>
					<a href="http://localhost:2999/login">Log in</a>
				<% end %>
		</p>
	</div>

	<%= render "layouts/nav_#{ controller_name }" %>

	<div id="main">
		<%= yield %>
	</div>
	
	<div id="footer">
		Page loaded on <%= Time.now.to_date %>, <%= Time.now.strftime( "%H:%M" ) %>
		<br/> (c) Joren Zandstra <%= Time.now.year %>
		<div style="debug_dump"> 
			<%= debug( params ) if Rails.env.development? %> 
		</div>
	</div>

</body>

</html>